<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="ROLLING" class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="true" />
		<param name="Threshold" value="DEBUG" />
		<param name="File" value="@LogFilePath@" />
		<param name="MaxBackupIndex" value="10" />
		<param name="MaxFileSize" value="2048KB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p [%d] %c{2}: %m%n" />
		</layout>
	</appender>

	<logger name="com.search" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="ROLLING" />
	</logger>


	<root>
		<priority value="ERROR" />
		<appender-ref ref="ROLLING" />
	</root>

</log4j:configuration>




